/*--*--*--*--*--*--*--*--*--*--*-*--*--*--*--*--*--*--*--*
				* ------- Renkler ------- *
-*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*/

$beyaz: white;
$acik-gri: #F3F5FF;
$koyu-gri: #666666;
$mavi: #2288BB;
$acik-mavi: #44AADD;
$turuncu: #FA7546;
$sari: #FAC414;
$yesil: #20FACD; // Kullanılmazsa kaldırılabilir



/*--*--*--*--*--*--*--*--*--*--*-*--*--*--*--*--*--*--*--*
				* ------- Fontlar ------- *
-*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*/

$ana-font: "Ubuntu", sans-serif;



/*--*--*--*--*--*--*--*--*--*--*-*--*--*--*--*--*--*--*--*
				* ------- Boyutlar ------- *
-*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*/

$konteyner-genisligi: 1350px;