---
import AnaHat from '../layouts/ana-hat.astro';
import Manset from '../layouts/ana-sayfa/manset.astro';
import SonGonderiler from '../layouts/ana-sayfa/son-gonderiler.astro';
import SonResimler from '../layouts/ana-sayfa/son-resimler.astro';

---

<AnaHat>
    <Manset />
    <SonGonderiler />
    <SonResimler />
    <section class="son-kitaplar">
        <h2>Son Okuğudum Kitaplar</h2>
        <div class="son-kitaplar-icerik">
            <div>
                <figure>
                    <img src="/resimler/mesneviden-secmeler.jpg" alt="Mesnevi'den Seçmeler'">
                </figure>
                <div class="kitap-kategorisi">Dinî | Biyografi</div>
                <hr>
                <h3>Mesnevi'den Seçmeler</h3>
                <div class="yazar-adi">Mevlana</div>
                <div class="kitap-puani"></div>
            </div>
        </div>
        <a href="#" class="dugme">Bütün Okuduğum Kitaplar</a>
    </section>
</AnaHat>

<style lang="scss">

    @import '../stiller/_degiskenler.scss';

    .baslik-alti-dugme {
        margin-top: 0;
    }

</style>
